/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px 'Roboto Condensed', Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

li, a {
  text-emphasis: none;
  text-decoration: none;
  list-style: none;
  color: #383838; }

.nav-bar {
  height: 40px;
  position: fixed;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center; }

.nav-item {
  display: inline-block;
  font-size: 16px;
  color: #383838;
  text-decoration: none;
  margin: 0 1.6%; }

.nav-header {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 10;
      flex-grow: 10;
  display: inline;
  text-align: left; }

.nav-icons {
  display: -ms-flexbox;
  display: flex;
  min-width: 85px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

body {
  background: #E8E8E8; }

.perlin-background {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0; }

.full-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
