/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px 'Roboto Condensed', Arial, sans-serif;
  font-size: 100%;
  text-align: center; }

li, a {
  text-emphasis: none;
  text-decoration: none;
  list-style: none;
  color: #383838; }

h1, h2, h3, h4, h5, h6, p, a, li {
  color: #383838;
  font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
  text-align: left; }

h1 {
  font-size: 2.4em; }

p {
  font-weight: 300; }

.nav-bar {
  padding: 0;
  height: 40px;
  position: fixed;
  top: 10px;
  z-index: 5;
  width: 100%;
  max-width: 1088px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto; }

.nav-item {
  display: inline-block;
  font-size: 16px;
  color: #383838;
  text-decoration: none;
  margin: 0 1.6%;
  font-size: 1.2em;
  height: 1.2em; }

.nav-header {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 10;
      flex-grow: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .nav-header h1 {
    display: inline;
    font-size: 1.2em;
    height: 1.2em; }

.nav-icons {
  display: -ms-flexbox;
  display: flex;
  min-width: 125px;
  font-size: 0.8em;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

#__bs_notify__ {
  opacity: .3; }

body {
  background: #E8E8E8; }

.perlin-background {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0; }

.full-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.main {
  max-width: 1088px;
  margin: 0 auto;
  overflow: hidden; }

.block {
  padding: 1.6% 1.6%;
  margin: 5em 0;
  position: relative; }

.landing-block {
  margin-top: 45px;
  padding: 0 1.6%; }
  @media (max-width: 960px) {
    .landing-block {
      min-height: 100vh;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; } }

.img-container {
  width: 100%;
  height: 50vh;
  margin: 0 auto; }

.big-header {
  font-size: 4em; }

.body-text {
  max-width: 75%; }

.header {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0; }
  .header.animate {
    opacity: 1;
    transition: .6s ease-in-out;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

#work {
  padding-bottom: 100px; }

.img-shadow {
  z-index: -1;
  background: #f3f3f3; }

@media (max-width: 959px) {
  .img-shadow {
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    top: -50px; }
  .img-shadow_left {
    left: -33%;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.01); }
  .img-shadow_right {
    box-shadow: -3px -6px 12px rgba(0, 0, 0, 0.01);
    left: 33%; }
  .header-accent {
    display: none; } }

.project-landing .img-shadow {
  display: none; }

.project-landing p.body-text {
  width: 100%;
  display: block;
  border: 1px solid red; }

.project-page {
  margin: 0 auto; }

.project-section {
  margin: 100px 0; }
  .project-section h1, .project-section h2, .project-section h3, .project-section h4, .project-section h5, .project-section h6, .project-section p {
    padding: 1.6%; }
  .project-section .img-container {
    padding: 10px 10px;
    display: inline-block;
    max-height: 80vh; }
    .project-section .img-container .full-img {
      width: 100%;
      max-height: 80vh; }

.research-stats {
  margin: 50px 0;
  min-height: 50vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.stat-item {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }
  .stat-item > ul > li, .stat-item h2 {
    text-align: center; }

.footer {
  min-height: 20vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

@media (min-width: 960px) {
  @supports (display: grid) {
    .main {
      overflow: visible; }
    .landing-block {
      margin: 0 auto;
      padding-top: 60px;
      min-height: 100vh;
      display: grid;
      grid-gap: 0.6%;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 60vh 100px; }
    .big-header {
      font-size: 6em;
      grid-row: 1;
      grid-column: 2 / -1;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .landing-img.img-container {
      grid-column: 6 / -2;
      grid-row: 1; }
    .landing-text {
      grid-row: 2;
      grid-column: 3 / span 4; }
    .block {
      min-height: 100vh;
      display: grid;
      grid-gap: 0.6%;
      grid-template-rows: 40px 60vh minmax(auto, 100px);
      grid-template-columns: repeat(12, 1fr); }
    .img-container {
      height: 100%;
      grid-row: 2; }
    .img-container_left {
      grid-column: 1 / span 8; }
    .img-container_right {
      grid-column: 5 / -1; }
    .img-shadow {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      grid-row: 1 / -1; }
      .img-shadow.animate {
        transition: .5s ease-out;
        -webkit-transform: scaleY(1);
                transform: scaleY(1); }
    .img-shadow_left {
      grid-column: 2 / span 4; }
    .img-shadow_right {
      grid-column: 7 / -2; }
    .header {
      position: relative;
      -ms-flex-item-align: end;
          align-self: flex-end;
      grid-row: 3; }
      .header-left {
        grid-column: 1 / span 2; }
        .header-left:before {
          content: '';
          position: absolute;
          height: 5px;
          width: 75px;
          background: #f3f3f3;
          bottom: 0;
          right: -77px; }
      .header-right {
        grid-column: 10 / -1; }
        .header-right:before {
          content: '';
          position: absolute;
          height: 5px;
          width: 75px;
          background: #f3f3f3;
          bottom: 0;
          left: -80px; }
    .extras-grid {
      display: grid;
      grid-gap: 0.6%;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 40px 60vh 40px; }
      .extras-grid .block {
        grid-row: 2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        min-height: auto;
        margin: 0;
        grid-column: span 4; }
        .extras-grid .block .header {
          -ms-flex-item-align: start;
              align-self: flex-start; }
        .extras-grid .block .img-container {
          min-height: 60vh; }
    .project-landing {
      grid-template-rows: 40px 60vh minmax(100px, 150px); }
      .project-landing .landing-img {
        grid-row: 2;
        grid-column: 1 / -1; }
      .project-landing .heading {
        grid-column: 1 / span 4;
        grid-row: 3;
        -ms-flex-item-align: end;
            align-self: flex-end; }
      .project-landing .landing-text {
        grid-row: 3;
        grid-column: 5 / span 3;
        -ms-flex-item-align: end;
            align-self: flex-end; }
      .project-landing .img-shadow {
        background: #f3f3f3;
        display: block;
        grid-row: 1 / -1;
        -webkit-transform: scale(1);
                transform: scale(1);
        grid-column: 8 / -2; }
    .research-stats {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      min-height: auto; }
    .stat-item {
      width: 200px; } } }
