---
id: "computational-design"
title: "Computational Design"
image: "./assets/computational-design/perlinNoiseDots-large-white-0.jpg"
link: "computational-design.html"
description: Using Processing and P5.JS to create designs that are a form of systematic randomness. Designs that live within constraints, without having the output being totally predictable.

right?: true
ownPage?: true

cssPath: ../
layout: default
---

{% include lightbox.html %}

{% include project-landing.html %}
<section class="project-page">
    
    <figure class="project-section">
        <h1>
            Perlin Noise        
        </h1>
        <p>
                Perlin Noise is a form of coherent randomness, the value may increment or decrement, but it never jumps wildly from point to point. The results visualized, shown here, appear like those of a histogram, where each point is related to the last. But the results are in fact random, this program is constantly running through the values outputted by the Perlin Noise function (simply called ‘noise’ in p5.js), and drawing the value along the Y axis, mean while the X value is defined by the for loop.        </p>
        </p>
        <div class="img-container">
            <img src="/assets/computational-design/perlin-chart.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
        </div>
    </figure>

    <figure class="project-section">
        <p>
            With a basic understanding of Perlin Noise it’s easy to start making some simple drawings. <br>
            Here I’ve changed the X value of each dot, but what if we repeated this, and rotated each line around a common center?
        </p>

        <div class="img-container">
            <img src="{{site.url}}/assets/computational-design/perlinDots-line.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
        </div>
    </figure>

    <figure class="project-section">
        <div class="img-row">
            <div class="img-container"> 
                <img src="{{site.url}}/assets/computational-design/perlinDots-circle.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
            </div>
            <div class="img-container">
                <img src="{{site.url}}/assets/computational-design/perlinDots-circle-1.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
            </div>
            <div class="img-container">
                <img src="{{site.url}}/assets/computational-design/perlinDots-circle-2.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
            </div>
        </div>
    </figure>

    <figure class="project-section">
        <p>
                Or, we could repeat that line, with each draw having a slightly different X value than the previous draw. Starts getting cool.
        </p>
        
        <div class="img-container">
            <img src="{{site.url}}/assets/computational-design/perlinDots-dotFall.png" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
        </div>
            
    </figure>

    <figure class="project-section">
            <p>
                    Now, let’s do that along both Axis.
            </p>
            <div class="img-row">
                <div class="img-container">
                    <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-portrait-black0.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
                </div>
                <div class="img-container">
                    <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-portrait-black1.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
                </div>
                <div class="img-container">
                    <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-portrait-black2.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
                </div>
            </div>

            <div class="img-row">
                <div class="img-container">
                    <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-portrait-white-0.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
                </div>
                <div class="img-container">
                    <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-portrait-white-1.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
                </div>
                <div class="img-container">
                    <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-portrait-white-2.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
                </div>
            </div>
            
            <div class="img-container">
                <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-large-black-0.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
            </div>
            <div class="img-container">
                <img src="{{site.url}}/assets/computational-design/perlinNoiseDots-large-white-0.jpg" alt="Chart created with perlin noise in p5.js" class="full-img lightbox-img">
            </div>
                
        </figure>

</section>