---
layout: default
title: title 
--- 

{% for work in site.portfolio %}
 
<section class="center-viewport anchor-target" id={{work.id}}>
    <figure class="block">
        <div class="img-container {% if work.right? == true %} img-container_right {% endif %} {% if work.right? == false %} img-container_left {% endif %}">
            <a href={{work.link}}>
                <img src={{work.image}} alt="Book showing wireframing drawing for user experience ideas" class="full-img">
            </a>
        </div>

        <div class="img-shadow {% if work.right? == true %} img-shadow_right {% endif %} {% if work.right? == false %} img-shadow_left {% endif %} animateIn"></div>


        <a href={{work.link}} class="header {% if work.right? == true %} header-left {% endif %} {% if work.right? == false %} header-right {% endif %} animateIn">
            <div class="header-accent animateIn"></div>
            <h1>
                {{work.title}}
            </h1>
        </a>
        <button class="see-more"> 
            <a href={{work.link}}>
                <h2>Explore</h2>
            </a>
        </button>
    </figure>
</section>



{% endfor %}