$nav-height: 40px
.nav-bar
    padding: -$padding
    height: 40px
    position: fixed
    top: 10px
    z-index: 5
    width: 100%
    max-width: $max-width
    display: flex 
    align-items: center
    margin: 0 auto

.nav-item
    display: inline-block
    font-size: 16px
    color: $text
    text-decoration: none 
    margin: 0 1.6%
    font-size: 1.2em
    height: 1.2em

.nav-header 
    align-self: center 
    flex-grow: 10
    display: flex 
    align-items: center
    h1
        display: inline 
        font-size: 1.2em
        height: 1.2em

.nav-icons 
    display: flex 
    min-width: 125px
    font-size: 0.8em
    justify-content: space-around