/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    background-color: black;
    font: 13.34px 'Roboto Condensed', Arial, sans-serif;
    font-size: 100%;
    text-align: center;
}


li, a{
    text-emphasis: none;
    text-decoration: none;
    list-style: none;
    color: $text;
}
    