/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body {
    background-color: black;
    font: 13.34px 'Roboto Condensed', Arial, sans-serif;
    font-size: small;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }


li, a{
    text-emphasis: none;
    text-decoration: none;
    list-style: none;
    color: $text;
}
    